.negro-oscuro{
    background: #181818;
}
.negro-claro{
    background: #313131;
}
.back-blanco-falso{
    background: #d9d9d9;
}
.blanco-falso{
    color:#d9d9d9
}
.cursor-pointer{
cursor: pointer;
}
.bor-bot{
border-bottom: 1px solid white !important;    
}
.text-center{
  text-align: center;  
}
