html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
.hr{
  border-color: #514f4f !important;  
}
.negro-oscuro {
  background: #181818;
}
.negro-claro {
  background: #313131;
}
.back-blanco-falso {
  background: #d9d9d9;
}
.blanco-falso {
  color: #d9d9d9;
}
.cursor-pointer {
  cursor: pointer;
}
.bor-bot {
  border-bottom: 1px solid white !important;
}
.text-center {
  text-align: center !important;
}
.arreglo-switch-tema{
    padding-top: 5px;
    padding-left: 3px;
}

.arreglo-switch-idioma{
    padding-top: 5px;
    padding-right: 3px;
}

@media only screen and (max-width: 600px) {
  .display-none {
    display: none; 
  }
  .achicar-mail{
    font-size: 14px!important;
  }
}
@media only screen and (min-width: 600px) {
  .display-block {
    display: none; 
  }
}