html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
.hr {
  border-color: #514f4f !important;
}
.negro-oscuro {
  background: #181818;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.negro-claro {
  background: #313131;
}
.back-blanco-falso {
  background: #d9d9d9;
}
.blanco-falso {
  color: #d9d9d9;
}
.black {
  color: rgb(36, 36, 36);
}
.cursor-pointer {
  cursor: pointer;
}
.bor-bot {
  border-bottom: 1px solid white !important;
}
.text-center {
  text-align: center !important;
}
.arreglo-switch-tema {
  padding-top: 5px;
  padding-left: 3px;
}
.arreglo-switch-idioma {
  padding-top: 5px;
  padding-right: 3px;
}
@media only screen and (max-width: 600px) {
  .display-none {
    display: none;
  }
  .achicar-mail {
    font-size: 14px !important;
  }
  .sizeName {
    font-size: 3.5vh !important;
  }
}
@media only screen and (min-width: 600px) {
  .display-block {
    display: none;
  }
}
.dn {
  display: none;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #009688;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #009688;
  -webkit-animation: spin 0.85s linear infinite reverse;
  animation: spin 0.85s linear infinite reverse;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #009688;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.buttonCode {
  width: max-content;
  height: 29px;
  padding: 4px 13px 4px 13px;
  margin-bottom: 7px;
  margin-right: 7px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: sub !important;
}
.boxcards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.descript {
  margin-top: 10px;
}
.masInfo {
  max-height: 180px;
  overflow-y: scroll;
  overflow: hidden;
}
.pl15 {
  padding-left: 15px;
}
.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}
.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}
.masInfoGradiantDark {
  background: linear-gradient(
    #31313100,
    #31313100,
    #3131319f,
    #313131f1,
    #313131
  );
  height: 180px;
  display: flex;
  align-items: flex-end;
}
.masInfoGradiantLight {
  background: linear-gradient(
    #ffffff00,
    #ffffff00,
    #ffffff9f,
    #ffffffbe,
    #ffffff
  );
  height: 180px;
  display: flex;
  align-items: flex-end;
}
.imgCenter {
  vertical-align: sub !important;
}
.ajusteFloat {
  width: 100%;
  height: 3px;
}
.boxName {
  background: rgba(40, 40, 40, 0.6);
  width: 100%;
}
.sizeName {
  font-size: 1.5vw;
}
.mt16 {
  margin-top: 16px;
}
.mt22 {
  margin-top: 22px;
}
.mw {
  max-width: 1400px;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.hrProyect {
  margin-top: 25px !important;
  margin-bottom: 9px !important;
}
.wButton {
  width: 120px;
}
.infoGeneralBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mr5 {
  margin-right: 5px;
}
.mr30 {
  margin-right: 30px;
}
.mr20 {
  margin-right: 20px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
