@-webkit-keyframes load {
    0%{
        opacity: 0.08;
				filter: blur(3px);
				letter-spacing: 3px;
        }
    100%{
        }
}

.animate {
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	margin: auto;
	font-family: Helvetica, sans-serif, Arial;
	-webkit-animation: load 0.5s infinite 0s ease-in-out;
	-webkit-animation-direction: alternate;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: #009688 ;
    font-size: 230px;
}
.animate2 {
	display:flex;
	justify-content: center;
    align-items: center;
    margin-top: -80px;
	height:100%;
	font-family: Helvetica, sans-serif, Arial;
	animation: load 0.5s infinite 0s ease-in-out;
	animation-direction: alternate;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: #ffffff ;
    font-size: 200px;
}
.animate21 {
	display:flex;
	justify-content: center;
    align-items: center;
    margin-top: -80px;
	height:100%;
	font-family: Helvetica, sans-serif, Arial;
	animation: load 0.5s infinite 0s ease-in-out;
	animation-direction: alternate;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: #000000 ;
    font-size: 200px;
}
